# Interpret both .php & .html as PHP:
AddHandler php5-script .php .html
AddHandler php-cgi .php

ErrorDocument 404 assets/404.html

RewriteEngine On
RewriteCond %{HTTP_REFERER} !^http://(.+\.)?mrplows-server\.tk/ [NC]
RewriteCond %{HTTP_REFERER} !^$
RewriteRule .*\.(jpe?g|gif|bmp|png)$ http://i.imgur.com/qX4w7.gif [L]

php_value display_errors off
php_value html_errors off

<Files php.ini>
  order allow,deny
  deny from all
</Files>