<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Security 8">
					<match url="robots.txt" />
					<action type="Rewrite" url="/index.php" />
				</rule>
				<rule name="Security 10">
					<match url="README.md" />
					<action type="Rewrite" url="/index.php" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
