<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.web>
		<customErrors mode="On" defaultRedirect="/assets/404.html">
   			<error statusCode="404" redirect="/assets/404.html" />
		</customErrors>
	</system.web>
	<system.webServer>
		<httpErrors>
		   <remove statusCode="401" subStatusCode="-1" />
		   <remove statusCode="403" subStatusCode="-1" />      
		   <remove statusCode="404" subStatusCode="-1" />                
		   <remove statusCode="500" subStatusCode="-1" />
			  <!-- full url when responsemode is Redirect -->
		   <error statusCode="401" path="http://foo.com/default.htm" responseMode="Redirect" />
			  <!-- local relative path when responsemode is ExecuteURL -->
		   <error statusCode="403" path="/assets/403.html" responseMode="ExecuteURL" />
		   <error statusCode="404" path="/assets/404.html" responseMode="ExecuteURL" />                
		   <error statusCode="500" path="/assets/500.html" responseMode="ExecuteURL" />
		</httpErrors>
		<rewrite>
			<rules>
				<rule name="Security 8">
					<match url="robots.txt" />
					<action type="Rewrite" url="/index.php" />
				</rule>
				<rule name="Security 10">
					<match url="README.md" />
					<action type="Rewrite" url="/index.php" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>